.customers {
    background: #fff;
    padding: 30px 0px 76px 0px;
    @include media-desktop($large-md) {
        background: #e3e3e3;
        padding: 0;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        max-width: 1140px;
        margin: 0px auto;
        @include media-desktop($large-md) {
            flex-wrap: wrap;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        background: #fff;
        @include media-desktop($large-md) {
            justify-content: center;
            align-items: center;
            margin-bottom: 1px;
            padding: 0 15px;
            height: 94px;
            width: calc(100% / 3 - 2px / 3);
        }
    }
    &__img {
        max-width: 100%;
    }
}